[Unit]
Description=hddledPi mass storage activity indicator

[Service]
Type=forking
ExecStart=/usr/local/bin/hddledPi -d

[Install]
WantedBy=basic.target
